@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/pattern-background-desktop.svg');
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}

#card{
  width:400px;
  max-width:700px ;
  height: auto;
  box-shadow: -13px 29px 38px -28px rgba(0,0,0,0.5);
}

img{
  width: 100%;
  vertical-align: top;
  border-radius: 20px 20px 0 0 ;
}

.order{
  border-radius: 0 0 20px 20px;
  padding: 20px;
  background-color: white;
}

.order h1{
  text-align: center;
  margin: 15px 0;
  font-weight: 900;
  font-size: 1.5em;
  color:hsl(223, 47%, 23%) ;
}

.order p{
  text-align: center;
  width: 75%;
  line-height: 1.2;
  margin: 0 auto;
  color:hsl(224, 23%, 55%);
  font-weight: 500;
}

.order-plan{
  width:80%;
  padding:15px;
  margin: 20px auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:hsl(225, 100%, 98%);
  border-radius:10px;
}
.order-plan img{
  width: 40px;
  height:40px;
}
.order-plan a{
  font-size: 0.8em;
  color:hsl(245, 75%, 52%) ;
}
.order-plan a:hover{
  text-decoration: none;
}
.music-div{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price h2{
  font-size: 0.85em;
  font-weight: 900;
  color:hsl(223, 47%, 23%) ;
}

.price p{
  font-size: 0.8em;
  width: 100%;
  margin:0 auto;
  color: hsl(224, 23%, 55%);
}

.buttons{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  
}

.btn{
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: white;
  margin-bottom: 20px;
  box-shadow: 0px 9px 16px -3px rgba(70,139,224,0.35);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.7em;
  
}
.btn:hover{
  background-color:#482aefc8;
}

.btn-cancel{
  background-color: rgba(255, 255, 255, 0.894);
  border: none;
  font-weight: 900;
  font-size: 0.7em;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}
.btn-cancel:hover{
  color:hsl(223, 47%, 23%) ;
}


/* MEDIA QUERIES */

@media screen and (min-width:375px) { 
  
body{
  background-image: url('images/pattern-background-mobile.svg');
  margin: 50px 0 ;

}
#card{
  width:330px;
  max-width:500px ;
}
.order{
  padding: 10px;
}

.order p{
  width: 85%;
}
.music-div{
  width: 60%;
}

}